@import 'core/mixins';

$imgwidth: 75%;
$imgmargin: -25%;
$imgposition: 50%;
$textmargin: 30px;
$imgwidthsmall: 60%;

figure {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 850px) and (max-width: 1023px) {
  $imgwidth: 45vw;
  $imgmargin: -10vw;
}
@media screen and (min-width: 661px) and (max-width: 849px) {
  $imgwidth: 100%;
  $imgwidthsmall: 70%;
}
@media screen and (min-width: 0) and (max-width: 660px) {
  $imgwidth: 100%;
  $imgmargin: 0;
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: $screen-tabletw-min) {
  .column-plus {
    width: 150%;
    left: -25%;
    position: relative;
  }
}