.fs {
  // > * {
    // transform: translate(0,0);
  // }
  left: -31px;
  @media screen and (min-width: 576px) {
    left: calc(-.5 * (100vw - 516px));
  }
  @media screen and (min-width: 768px) {
    left: calc(-.5 * (100vw - 660px));
  }
  @media screen and (min-width: 992px) {
    left: calc(-.5 * (100vw - 566px));
  }
  @media screen and (min-width: 1200px) {
    left: calc(-.5 * (100vw - 700px));
  }
}